include inc\_var
div.container.section
	h1 حول الموقع
	div.about
		p بسم الله الرحمان الرحيم ، و الصلاة و السلام على سيدنا محمد اشرف المرسلين عليه ارفع الصلوات و ازكى تسليم ، و على اله و صحيه الطيبين الطاهرين ، اللهم علمنا ما ينفعنا و انفعنا بما علمتنا ، انك انت العليم الحكيم ، اما بعد ، فاني بفضل الله قمت بانشاء هدا الموقع الدي يضم سورا من الدكر الحكيم ، متلوة باصوات ارفع القراء من مختلف انحاء العالم الاسلامي ، و سضم ايضا بعض المعلومات عنهم ، و استعملت فيه مجموعة من اللغات و التقنيات البرمجية ، و التي هي على النحو التالي
		div.text-center
			each brandIcon in iconList
				img(src=brandsDir + brandIcon + ".png", alt=brandIcon, title=brandIcon, width="150px")
		
		p في هدا الموقع استعملت بعض Plugin و Frameworks, و دلك لجعل الموقع جميلا و انيقا يليق بمحتواه الدي هو كلام الله سبحانه و تعالى 
		
		p و الموقع مفتوح المصدر و موجود على موقع Github لمن يريد الاطلاع على الاكواد و الاستفادة منها و استعمالها بدون اي شرط فقط دعوة صالحة تكفي 
		p و اوجه شكرا خاصا لبعض الاخوة ، الدين ساعدوني في بعض الامور البرمجية و اوجه شكرا خاصا للقراء الدين قمت بادراجهم في موقعي ، جزاهم الله عني كل خير
		div.text-center و السلام عليكم و رحمة الله و بركاته
