div.container.section.contact
	h3 تفضل يمراسلتنا عبر مختلف متصات التواصل

	a(href="#", class="wow bounceIn", data-wow-delay=".25", data-toggle="modal", data-target="#contactForm")
		div.mail
			| ارسل لنا رسالة 
			i(class="fas fa-envelope", aria-hidden="true")
	a(href="https://www.facebook.com/vive.mouhssine", class="wow bounceIn", data-wow-delay=".5", target="_blank")
		div.fb
			| صفحتنا على فيسبوك 
			i(class="fab fa-facebook-f", aria-hidden="true")
	a(href="https://twitter.com/mohssin78060160", class="wow bounceIn", data-wow-delay=".75", target="_blank")
		div.tw
			| صفحتنا على تويتر 
			i(class="fab fa-twitter", aria-hidden="true")
	a(href="#", class="wow bounceIn", data-wow-delay="1", target="_blank")
		div.gp
			| صفحتنا على جوجل بلاص 
			i(class="fab fa-google-plus-g", aria-hidden="true")
	a(href="https://github.com/mohssineAboutaj/alquran", class="wow bounceIn", data-wow-delay="1.25", target="_blank")
		div.git
			| الكود في موقع جيتهاب 
			i(class="fab fa-github", aria-hidden="true")

//- include contact form
include inc/_form.html