div.container.section.home
	h1 بـسـم الله الرحـمـان الرحـيـم
	div.header
		div.overlay
			div.full-centering
				div
					span قال الله سبحانه و تعالى
					blockquote.quran ِ{[ <span id="quran-typed"></span>]}
					span سورة الحجر ، الآية 9
	hr
	p القرآن لغة: اختلف العلماء في لفظة القرآن من حيث الاشتقاق أو عدم الاشتقاق، ومن حيث إنّ لفظة القرآن مصدر أو وصف، وجاء اختلافهم في هذا المجال على عدة آراء: الرأي الأول: قال أصحاب هذا الرأي أنّ القرآن مصدر للفعل قرأ، وتأتي قرأ بمعنى تلا، فيكون القرآن على وزن الرجحان والغفران، ثم تمّ نقل لفظ القرآن من المصدر ليكون اسماً دالاً على القرآن الكريم، ويساند هذا الرأي ورود كلمة القرآن بمعنى القراءة ومن ذلك، قوله تعالى: (إِنَّ عَلَيْنَا جَمْعَهُ وَقُرْآنَهُ*فَإِذَا قَرَأْنَاهُ فَاتَّبِعْ قُرْآنَهُ) الرأي الثاني: ذهب أصحاب هذا الرأي وعلى رأسهم الزجاج النحوي إلى أنّ لفظ القرآن وصف على وزن فعلان، من الفعل قرأ ومعناه هنا جمع، يُقال في اللغة: قرأت الماء، بمعنى جمعته، ثم أُطلق لفظ القرآن على كتاب الله؛ لأنه جمع سور وآيات القرآن الكريم، فيكون لفظ قرآن دالاً على معنى الجمع والضمّ. الرأي الثالث: ذهب أصحاب هذا الرأي وعلى رأسهم الأشعريّ إلى أنّ لفظ القرآن مشتق من قرأ، وهو من قرن، بمعنى قرن الشيء بشيء آخر أي جمعه به وضمّه إليه، وسُمّي به القرآن الكريم، وبناء على هذا تكون النون في قرآن أصليّة، وتكون الهمزة الممدودة همزة زائدة، ولذلك يمكن القول قران بدون همز، وهو توجيهٌ ضعيف؛ ولذلك قال الفرّاء أنّ اشتقاق القرآن من القرائن؛ لأنّ الآيات تُصدّق بعضها وتؤيّد بعضها، وتتشابه فيما بينها، وهي قرائن، والقرائن هي الأشباه والنظائر من الشيء. الرأي الرابع: وقال الإمام الشافعي إنّ القرآن اسم سمّى الله سبحانه وتعالى به كتابه المنزَل على محمد -عليه الصلاة والسلام- مثلما سمّى الكتابين اللذين أنزلهما على أنبيائه موسى وعيسى -عليهما السلام-: التوراة والإنجيل. تعريف القرآن الكريم اصطلاحاً: هو كلام الله تعالى المعجز، المتعبّد بتلاوته، المنقول بواسطة الوحي، والمنقول للمسلمين من عصر الرسول -عليه الصلاة والسلام- إلى اليوم بالتواتر، المبدوء ترتيباً بسورة الفاتحة، والمختوم في المصحف ترتيباً بسورة الناس.
		br
		a(class="float-left btn btn-info",href="http://mawdoo3.com/%D8%AA%D8%B9%D8%B1%D9%8A%D9%81_%D8%A7%D9%84%D9%82%D8%B1%D8%A2%D9%86") إقرأ المزيد عن القران الكريم