div.container.section.contact
	h3 تفضل يمراسلتنا عبر مختلف متصات التواصل
	a(href="#", class="wow bounceIn", data-wow-delay=".25")
		div.mail
			| ارسل لنا رسالة 
			i(class="fas fa-envelope", aria-hidden="true")
	a(href="#", class="wow bounceIn", data-wow-delay=".5")
		div.fb
			| صفحتنا على فيسبوك 
			i(class="fab fa-facebook-f", aria-hidden="true")
	a(href="#", class="wow bounceIn", data-wow-delay=".75")
		div.tw
			| صفحتنا على تويتر 
			i(class="fab fa-twitter", aria-hidden="true")
	a(href="#", class="wow bounceIn", data-wow-delay="1")
		div.gp
			| صفحتنا على جوجل بلاص 
			i(class="fab fa-google-plus-g", aria-hidden="true")
	a(href="#", class="wow bounceIn", data-wow-delay="1.25")
		div.git
			| صفحتنا على جيتهاب 
			i(class="fab fa-github", aria-hidden="true")
